<div class="container-fluid  myform border shadow pb-3" style="border-radius: 4px;">
    <h1>Upadate Director Details</h1>
    <form #adddirector="ngForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Name</label>
            <input type="text" name = "name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control " [(ngModel)]="directorModel.name" required disabled>
            <small class="text-danger" *ngIf="name.invalid && name.touched">Name is required</small>
            
        </div>
      
        <div class="form-group">
            <label>Age</label>
            <input type="number" #age="ngModel" name="age" class="form-control" [class.is-invalid]="age.invalid && age.touched" [(ngModel)]="directorModel.age" required>
            
        </div>

        <div class="form-group">
            <label>Gender</label>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="directorModel.gender" type="radio" name="gender" value="Male" disabled>
                <label class="form-check-label" >Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="directorModel.gender" type="radio" name="gender" value="Female" disabled>
                <label class="form-check-label" >Female</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="directorModel.gender" type="radio" name="gender" value="Other" disabled>
                <label class="form-check-label" >Other</label>
            </div>
        </div>

        <div class="form-group">
            <label>Award Count</label>
            <input type="number" name="awards" #awards="ngModel" [class.is-invalid]="awards.invalid && awards.touched" class="form-control" [(ngModel)]="directorModel.awardCount" required>
        </div>

       
        <button class="btn btn-primary" [disabled]="!adddirector.form.valid" type="submit" >Submit</button>
    </form>
    
</div>
<router-outlet></router-outlet>


