/* .mybox{
    margin-left: 100px;
    width:50%;
    
}
.mybox:hover{
   border:4px rgb(30, 93, 210) solid ;
   border-radius: 14px;
}
.box{
    padding: 20px;
}

h1{
    margin-left: 400px;
} */

h1{
    margin-left: 550px;
}