<div class="container-fluid pb-3" style="border-radius: 4px;">
    <h1 class="text-primary text-center">Add Movie</h1>
    <form #addmovie="ngForm" class="border shadow myform" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Name</label>
            <input type="text" name = "name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control " [(ngModel)]="movieModel.name" required>
            <small class="text-danger" *ngIf="name.invalid && name.touched">Name is required</small>
            
        </div>
      
        <div class="form-group">
            <label>Id</label>
            <input type="text" #id="ngModel" name="id" class="form-control" [class.is-invalid]="id.invalid && id.touched" [(ngModel)]="movieModel.id" required>
            
        </div>
    
        <div class="form-group">
            <label>Box office collection</label>
            <input type="number" name="collection" #collection="ngModel" [class.is-invalid]="collection.invalid && collection.touched" class="form-control" [(ngModel)]="movieModel.boxOfficeCollection" required>
        </div>

        <div class="form-group">
            <label>Rating</label>
            <input type="number" name="rating" #rating="ngModel" [class.is-invalid]="rating.invalid && rating.touched" class="form-control" [(ngModel)]="movieModel.rating" required>
        </div>
    
        <div class="form-group">
            <label>Directors</label>
            <input type="text" name="directors" #directors="ngModel" [class.is-invalid]="directors.invalid && directors.touched" class="form-control" [(ngModel)]="movieModel.directors" required>
        </div>
    
       
    
        <div class="text-center">

            
        <button class="btn btn-primary" [disabled]="!addmovie.form.valid" type="submit" >Submit</button>

        </div>
    
       
    </form>
    
</div>
<router-outlet></router-outlet>
